.carousel-img {
    /*высота картинки в слайдере*/
    height: 600px;
}

.name_tovar {
    /*название товара в слайдере*/
    color: #fff;
    text-shadow: 1px 0 5px #000, /*тень справа*/
        0 1px 5px #000, /*тень снизу*/
        -1px 0 5px #000, /*тень слева*/
        0 -1px 5px #000; /*тень сверху*/
}
img{
    border-radius: .375rem;
}